{% extends "base.html" %}
{% block title %}ログイン{% endblock %}
{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-6 mx-auto">
            <div class="card-body">
                <h3 class="card-title text-center" >ログイン</h3>
                    {% if get_flashed_messages() %}
                        <div class="flash-messages">
                            {% for message in get_flashed_messages() %}
                                <p style="color: red;">{{ message }}</p>
                            {% endfor %}
                        </div>
                    {% endif %}
                    <form method="POST">
                        <div class="mb-3">
                            <label for="username" class="form-label">ユーザ名</label>
                            <input type="text" name="username" id="username" class="form-control" placeholder="ユーザ名">
                        </div>
                        <div class="mb-3">
                            <label for="password" class="form-label">パスワード</label>
                            <input type="password" name="password" id="password" class="form-control" placeholder="パスワード">
                        </div>
                        <div class="mb-3">
                            <button type="submit" class="btn btn-primary w-100">ログイン</button>
                        </div>
                    </form>
                    <hr>
                    <a href="/" class="btn btn-secondary">ホームに戻る</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}